body {
  margin: 0;
  font-family: sans-serif;
  background-color: #ccc;
}

div,
body {
  box-sizing: border-box;
}

.flexbox {
  display: flex;
  flex-flow: row;
  margin: 20px;
  border: 2px solid #000;
  justify-content: space-evenly;
  height: 200px;
  align-items: center;
  background-color: #fff;
}

.flex-item:first-child {
  background-color: #f77;
  flex-shrink: 5;
}

.flex-item {
  background-color: #911;
  color: white;
  text-align: center;
  font-size: 40px;
  width: 200px;
  flex-shrink: 1;
}

.flex-item:last-child {
  background-color: #000;
}
