<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Layout CSS</title>
  </head>
  <body>
    <header class="header">
      <div class="header__overlay"></div>
      <div class="header__item-container">
        <img src="./img/momo.webp" alt="" class="header__img" />
        <h1>MAESTRO SPLINTER</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae
          maxime, laborum beatae consequatur debitis fugit corporis inventore?
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est ullam
          amet distinctio ipsam praesentium eveniet odio inventore doloribus
          dicta quo? Harum, alias repellendus provident blanditiis facere minus
          ad autem ipsum?
        </p>
      </div>
    </header>
    <nav class="nav">
      <div class="nav__ul-container">
        <ul class="nav__ul">
          <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
          <li class="nav__item"><a href="#" class="nav__link">About Us</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
          <li class="nav__item">
            <a href="#" class="nav__link link--login">Log In</a>
          </li>
        </ul>
      </div>
      <div class="nav__logo-container">
        <img src="./img/logodev.jpg" class="nav__logo" />
      </div>
    </nav>
    <main class="main">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti nam hic
      in. Quisquam voluptas numquam totam ad obcaecati quibusdam sit laborum
      animi culpa! Ut dolores, eligendi pariatur modi temporibus illum. Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Quae delectus dolorem
      natus repellendus saepe aperiam debitis voluptas officiis impedit, sed
      deserunt, pariatur doloremque placeat quos nulla asperiores temporibus
      nobis soluta. Quas earum similique placeat officia quisquam, sint quos
      aliquid. Quibusdam necessitatibus praesentium aspernatur nobis nostrum
      assumenda suscipit quia iste, doloribus animi, possimus aliquid dolor sint
      nulla delectus quisquam ab perspiciatis! Soluta quibusdam modi officia
      aliquid ratione iste natus recusandae aspernatur! Expedita culpa sunt,
      commodi vel magni aliquid nostrum soluta, eum eos dolorem consectetur,
      eius dolore fugiat eveniet nemo voluptatibus reiciendis? Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Cum eveniet blanditiis laudantium
      doloribus esse? Distinctio, veniam cumque sequi cum temporibus eius iure
      itaque? Excepturi similique quasi voluptate temporibus! Consequatur,
      voluptatibus. Optio assumenda aspernatur modi iste repellat possimus ullam
      odio provident distinctio obcaecati recusandae eveniet porro quam,
      consequatur hic voluptas aut beatae, dignissimos eius vero totam sunt.
      Quam natus nostrum laudantium! Quidem perspiciatis explicabo, aspernatur
      excepturi velit recusandae ullam nihil est culpa laborum facere cum
      similique voluptatem, assumenda natus aperiam sed, quibusdam suscipit
      expedita debitis magni optio facilis sint officiis! Aliquid. Atque
      deserunt odio omnis voluptatem itaque, aut vel est, incidunt saepe
      reprehenderit cum hic, reiciendis fugiat voluptas porro. Sint deserunt
      inventore rerum sapiente, enim pariatur nobis dolor. Laborum, dolore qui.
      Sint totam rem accusamus rerum, perferendis assumenda eveniet asperiores
      harum? Fugit necessitatibus dolores neque obcaecati soluta est optio nulla
      provident quas reiciendis, eaque expedita tempora hic accusantium laborum
      placeat veritatis? Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Corrupti nam hic in. Quisquam voluptas numquam totam ad obcaecati
      quibusdam sit laborum animi culpa! Ut dolores, eligendi pariatur modi
      temporibus illum. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Quae delectus dolorem natus repellendus saepe aperiam debitis voluptas
      officiis impedit, sed deserunt, pariatur doloremque placeat quos nulla
      asperiores temporibus nobis soluta. Quas earum similique placeat officia
      quisquam, sint quos aliquid. Quibusdam necessitatibus praesentium
      aspernatur nobis nostrum assumenda suscipit quia iste, doloribus animi,
      possimus aliquid dolor sint nulla delectus quisquam ab perspiciatis!
      Soluta quibusdam modi officia aliquid ratione iste natus recusandae
      aspernatur! Expedita culpa sunt, commodi vel magni aliquid nostrum soluta,
      eum eos dolorem consectetur, eius dolore fugiat eveniet nemo voluptatibus
      reiciendis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum
      eveniet blanditiis laudantium doloribus esse? Distinctio, veniam cumque
      sequi cum temporibus eius iure itaque? Excepturi similique quasi voluptate
      temporibus! Consequatur, voluptatibus. Optio assumenda aspernatur modi
      iste repellat possimus ullam odio provident distinctio obcaecati
      recusandae eveniet porro quam, consequatur hic voluptas aut beatae,
      dignissimos eius vero totam sunt. Quam natus nostrum laudantium! Quidem
      perspiciatis explicabo, aspernatur excepturi velit recusandae ullam nihil
      est culpa laborum facere cum similique voluptatem, assumenda natus aperiam
      sed, quibusdam suscipit expedita debitis magni optio facilis sint
      officiis! Aliquid. Atque deserunt odio omnis voluptatem itaque, aut vel
      est, incidunt saepe reprehenderit cum hic, reiciendis fugiat voluptas
      porro. Sint deserunt inventore rerum sapiente, enim pariatur nobis dolor.
      Laborum, dolore qui. Sint totam rem accusamus rerum, perferendis assumenda
      eveniet asperiores harum? Fugit necessitatibus dolores neque obcaecati
      soluta est optio nulla provident quas reiciendis, eaque expedita tempora
      hic accusantium laborum placeat veritatis? Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Corrupti nam hic in. Quisquam voluptas
      numquam totam ad obcaecati quibusdam sit laborum animi culpa! Ut dolores,
      eligendi pariatur modi temporibus illum. Lorem ipsum dolor sit amet
      consectetur adipisicing
    </main>
  </body>
</html>
